CONFIG_PATH=examples/uyuni/config.yaml
TEST_REPORT_PATH=examples/uyuni/test_report.txt
TEST_FAILURE_PATH=examples/uyuni/test_failure.txt
SCREENSHOT_PATH=examples/uyuni/screenshot.png
CREWAI_STORAGE_DIR="./chroma_db_ollama"
EMBEDDINGS_OLLAMA_MODEL_NAME="nomic-embed-text"
EMBEDDINGS_OLLAMA_BASE_URL="http://localhost:11434"
# GOOGLE_API_KEY=your_api_key_here
